{% assign feed_path = "/feed.xml" %} {% if site.feed and site.feed.path %} {%
assign feed_path = site.feed.path %} {% endif %}

<style>
  .social .item {
    display: inline-block;
    margin-right: 10px;
  }
</style>

<div class="social">
  <div class="item">
    <a href="https://github.com/danielmoraes" title="GitHub" target="_blank">
      <div><i class="fa fa-github fa-2x"></i></div>
    </a>
  </div>
  <div class="item">
    <a href="https://gitlab.com/danielmoraes" title="GitLab" target="_blank">
      <div><i class="fa fa-gitlab fa-2x"></i></div>
    </a>
  </div>
  <div class="item">
    <a
      href="https://linkedin.com/in/danielbmoraes"
      title="LinkedIn"
      target="_blank"
    >
      <div><i class="fa fa-linkedin fa-2x"></i></div>
    </a>
  </div>
  <div class="item">
    <a
      href="https://www.upwork.com/freelancers/~0144e53655b07c4c26"
      title="Upwork"
      target="_blank"
    >
      <div><i class="fa icomoon-upwork" style="font-size: 22px"></i></div>
    </a>
  </div>
  <div class="item">
    <a
      href="https://www.researchgate.net/profile/Daniel_Moraes10"
      title="Research Gate"
      target="_blank"
    >
      <div><i class="ai ai-researchgate ai-2x"></i></div>
    </a>
  </div>
  <div class="item">
    <a
      href="https://stackoverflow.com/users/682624/daniel-moraes"
      title="Stack Overflow"
      target="_blank"
    >
      <div><i class="fa fa-stack-overflow fa-2x"></i></div>
    </a>
  </div>
</div>
